:root {
  --c-dark-bg: #242424;
  --c-text-default: rgba(255, 255, 255, 0.87);
  --c-link: #646cff;
  --c-link-hover: #535bf2;
  --c-link-light-hover: #747bff;
  --c-button-dark-bg: #1a1a1a;
  --c-text-dark: #213547;
  --c-bg-light: #ffffff;
  --c-button-light-bg: #f9f9f9;
  --c-app-bg: #35313B;
  --c-surface: #2B2C30;
  --c-card-bg: #453745;
  --c-border-main: #613C4C;
  --c-accent: #BF6370;
  --c-accent-hover: #a94e5b;
  --c-accent-green: #A8C090;
  --c-gray: #808080;
  --c-gray-dark: #888;
  --c-white: #ffffff;
  --c-gray-light: #ccc;
  --c-react-blue: #61dafb;
  --c-link-alpha: #646cffaa;
  --c-react-blue-alpha: #61dafbaa;
}
